.progress-label {
    font-size:10;
    text-align: center;
    margin-bottom:0;
    margin-top:16;
  }
  .progress-label1 {
    font-size:10;
    text-align: center;
    margin-bottom:0;
    margin-top:0;
  }
  .progress-label2 {
    font-size:10;
    text-align: center;
    margin-bottom:6;
    margin-top:6;
  }
  .progressbar {
      height: 20;
      margin: 10;
      border-radius: 10;
      background: #ECEFF1;
        margin-top:12;
  }
  .progressbar-value {
    /*  background: #51BC6B; */
    background: #5fd400;
  } 